POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=sirt
POSTGRES_USER=acceso
POSTGRES_PASSWORD=cambiar
# Solo lectura: el servidor no ejecuta INSERT/UPDATE/DELETE
POSTGRES_READ_ONLY=true
SERVER_PORT=3001
